body {
  background-color: #012a4aff;
  background-image: url("images/abstract.jpg");
  margin: 0px;
  text-align: center;
  color: white;
}
p {
  margin: 0;
}
.main-box {
  display: block;
  font-family: "McLaren", cursive;
  background-color: #9c99b9;
  margin: 2.5% 25%;
  border-radius: 20px;
  width: 50%;
  position: relative;
  padding-top: 15px;
}
.header {
  margin-bottom: 10px;
}

.text {
  color: #543154;
  background-color: #9c99b9;
  font-size: 35px;
}
.p-1 {
  background-color: #543154;
  border-radius: 30px 30px 0 0;
  margin-bottom: 10px;
  font-size: 25px;
}
.p-2 {
  background-color: #543154;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  padding: 0.15rem !important;
}
.list-group .list-group-item {
  background-color: #9c99b9;
  font-size: 26px;
  padding: 4px 0;
}
.card {
  border-width: 0;
}
.weather-icons {
  margin-right: 20px;
  margin-left: 10px;
}
.weather-conditions {
  position: relative;
  top: 9px;
  width: 80px;
}
.temperature {
  font-size: 30px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.top-buttons {
  border-radius: 40px;
  background-color: #543154;
  font-size: 40px;
  color: #013a63ff;
}
.date {
  margin: 0;
}
#current-city {
  text-transform: uppercase;
}
